body {
font-family: "Poppins", sans-serif;
background-color: black;
}


.container    {
    max-width: 1400px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;

}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1.5fr 2fr 2fr;
}

.img-responsive {
max-width: 100%;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

header  {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url("../images/andres-cepeda-7.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
}


header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;

}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;

}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;

}

header a {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: white;
    padding: 16px 32px;
    margin-top: 32px;
    display:inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: #885df1;
    border-radius: 60px;

}

main h2 {
margin: 0;
font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0em;
text-align: left;
color: white;

}

main h3 {
margin: 0;
font-weight: 700;
line-height: 20px;
letter-spacing: 5px;
text-align: left;
color: #462CB2;

}
main p {
color: white;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 1.5px;
text-align: left;
}

.button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: white;
    padding: 16px 32px;
    margin-top: 32px;
    display:inline-block;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: #885df1;
    border-radius: 60px;

}


footer  {
    background-image: linear-gradient(
    rgba(0,0,0,0.7), 
    rgba(0,0,0,0.7)
    ),
    url("../images/andres-cepeda-13.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
    
    
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

footer ul  {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}